<!-- Your Angular component template -->
<app-header></app-header>
<div class="main">
  <div class="intro">
    <p>Afraid of huge traffic and unexpected Accidents? Our Platform will help you gain time and view traffic and accidents in real time. Not sure?
      Sign Up right now!! <br><button>Register</button></p>
  </div>

  <!-- Image Container -->
  <div class="image-container">
    <img src="/assets/traffic.jfif" alt="Image 1">
    <img src="/assets/traffic1.jfif" alt="Image 2">
    <img src="/assets/accident.jfif" alt="Image 3">
    <!-- Add more images as needed -->
  </div>
  <!-- End Image Container -->

</div>
<h1>Services</h1>
<div class="services">
  

  <!-- Mat Cards -->
  <mat-card>
    <mat-card-header>Service 1: Provide Real-Time Traffic Updates</mat-card-header>
    <mat-card-content>Our platform provides with real time analysis on traffic occuring
        <img style="height: 100px;width:400px;margin-top: 20px;" src="/assets/analysis.jpg">
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>Service 2: Notify About Accidents Instantly </mat-card-header>
    <mat-card-content>Our platform provides with real time analysis on accidents
        <img style="height: 100px;width:400px;margin-top: 20px;" src="/assets/2.jpg" >
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>Service 3: User-Friendly Platform for Easy Navigation</mat-card-header>
    <img style="height: 100px;width:400px;margin-top: 20px;" src="/assets/dashboard.jfif">
  </mat-card>
  <!-- End Mat Cards -->

</div>
