<div class="platformheader">
    <div class="headerelements">
      <ul>
        <li><h1><a href="#">TrafficViewer</a></h1></li>
        <li>
          <input type="search" placeholder="Search...">
        </li>
        <li><a href="#">Real Time Traffic</a><mat-icon class="icon">local_car_wash</mat-icon></li>
        <li><a href="#">Realtime Accidents</a><span class="material-icons icon">car_crash</span></li>
       
        <li>
          <a href="#"><mat-icon class="icon">notifications</mat-icon></a>
        </li>
        <li class="user">
            <a href="#"><mat-icon class="icon">person</mat-icon>Username</a>
          </li>
      </ul>
    </div>
  </div>
  